/* Reset some default styles */
body,h1,h2,h3,p,ul,li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Header Styles */
header {
    width: 100%;
    height: 90px;
    background: #4796BD;
    position: relative;
}

#logo {
    width: 115.58px;
    height: 60.16px;
    position: absolute;
    left: 50px;
    top: 15px;
    background: #F4FAF8;
    border-radius: 3px;
}
/* sidebar adjustments */
h1 {
    font-size: 32px;
    color: #122E40;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5%;
}


.title-line {
    border-top: 2px solid #000; /* Adjust color and thickness */
    width: 50%; /* Adjust width */
    margin: 10px auto; /* Centers the line and adds space around it */
}

aside {
    width: 11%;
    height: 100%;
    background: white;
    position: absolute;
    left: 0;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
}

aside div {
    padding: 10px;
    text-align: center;
    color: #122E40;
    font-size: 24px;
    font-weight: 400;
    word-wrap: break-word;
}

/* Main Content Styles */
#content {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 30px auto;
    width: 80%;
    max-width: 800px;
    height: auto;
}
section{
    display: block;
}

#main-content {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh; /* 100% of the viewport height */
    margin: 0;
}

#main-content div {
    margin-bottom: 10px;
    padding: 10px;
    background: #FFFFFE;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
}

/* Entry settings */
.secName{
    color: #495D69;
    font-weight: bold;
    font-size: 25px;
}



.partNum2, .location2, .vendor2, .manu2 {
    width: calc(20% - 10px);
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #dddadaa8;
}

td{
    width: auto;
}
tr{
    height: 50px;
}

#submitButton{
    background-color: rgb(96, 141, 253);
    padding: 7px;
    border-radius: 10px; /* Adjust the border-radius for roundness */
    cursor: pointer;
    
}



/* Responsive adjustments */
@media (max-width: 768px) {
    .form-group input[type="text"] {
      width: calc(50% - 10px);
    }
}
  
@media (max-width: 480px) {
    .form-group input[type="text"] {
      width: 100%;
      margin-bottom: 10px;
    }
  
    button {
      width: 100%;
    }
}

.notes-input {
  width: 50%; /* Or any other width as per your design */
  height: 10px; /* Or any other height */
  padding: 10px;
  margin-top: 5px; /* Spacing above the textarea */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit; /* To ensure the font is consistent with the rest of the form */
}