body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
/* Header Styles */
header {
    width: 100%;
    height: 90px;
    background: #4796BD;
    position: relative;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
}
#content {
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

#partNumber, #fileInput{
    display: none;
}

h2 {
    color: #333;
}

th {
    background-color: #f2f2f2;
}

#drop-zone {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 30px;
    margin: 20px 0;
}

#drop-zone p {
    margin: 10px 0;
    color: #666;
}

#addButton {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
}

#confirmButton{
    display: none;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;   
}

#addButton:hover {
    background-color: #0056b3;
}

#fileSelectBtn {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#fileSelectBtn:hover {
    background-color: #bbb;
}
#csv-container {
    width: 100%;       /* Full width */
    max-width: 1200px; /* Maximum width, adjust as needed */
    margin: auto;      /* Center the container */
    overflow-x: auto;
}

#container{
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
    max-width: 1200px;
    height: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed; /* Fixed table layout */
}

th {
    background-color: #f2f2f2;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    word-wrap: break-word; /* Ensures text wraps inside cells */
}

.edit-btn, .delete-btn {
    cursor: pointer;
    padding: 5px;
    margin-right: 5px;
    display: inline-block;
}

/* Additional styles */
label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 60px; /* Adjust as needed */
}