/* Reset some default styles */
body,h1,h2,h3,p,ul,li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Header Styles */
header {
    width: 100%;
    height: 90px;
    background: #4796BD;
    position: relative;
}

#logo {
    width: 115.58px;
    height: 60.16px;
    position: absolute;
    left: 50px;
    top: 15px;
    background: #F4FAF8;
    border-radius: 3px;
}

nav {
    position: absolute;
    top: 41px;
    right: 0;
    display: flex;
    align-items: center;
}

nav div {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    background: #8FB7D6;
}

img {
    width: 22.90px;
    height: 22.92px;
}

/* Main Content Styles */
#content {
    width: 50%;
    padding: 20px;
    background-color: rgb(248, 238, 224);
    margin-top: 5%;
    margin-left: 30%;
    border-radius: 10px;
}
section{
    display: block;
}
h1 {
    font-size: 32px;
    color: #122E40;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

aside {
    width: 212px;
    height: 920px;
    background: white;
    float: left;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
}

aside div {
    padding: 10px;
    text-align: center;
    color: #122E40;
    font-size: 24px;
    font-weight: 400;
    word-wrap: break-word;
}

#main-content {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh; /* 100% of the viewport height */
    margin: 0;
}

/* Example of additional styling for the main content */
#main-content div {
    margin-bottom: 10px;
    padding: 10px;
    background: #FFFFFE;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
}
.partNum2, .location2, .vendor2, .manu2 {
    margin: 10px; /* Adjust the margin to increase space between input elements */
}
#submitButton{
    background-color: rgb(96, 141, 253);
    padding: 7px;
    border-radius: 10px; /* Adjust the border-radius for roundness */
    cursor: pointer;
}

.sidebar li{
    margin-bottom: 5px; /* Adjust the margin value according to your preference */
    list-style-type: none;
    padding: 15px;
    display: flex;
    padding-left: 0px;  
}

.sidebar li a{
    display: flex;
    align-items: center;
}

a {
    color: #173244; /* Set your desired color */
    text-decoration: none; /* Remove underline */
    font-family: "Lato", sans-serif;
}

/* Add this to your existing CSS file */

.sidebar li a img {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    margin-right: 10px; /* Add some space between the image and text */
}
