/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}   

/* Header Styles */
header {
    width: 100%;
    height: 90px;
    background: #4796BD;
    position: relative;
}

/* main table styles */
.container {
    
    width: 50%;
    padding: 20px;
    background-color: rgba(248, 238, 224, 0.406);
    margin-top: 5%;
    margin-left: 30%;
    border-radius: 10px;
}
#tableTitle{
    font-size: 32px;
    font-weight: bold;
}

.invSelect{
    width: 15%;
}

.tableOptions{
    display: flex;
    gap: 10px;
}

.tableOptions a{
    color: black;
}

p{
    color: blue;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.edit-btn, .delete-btn {
    cursor: pointer;
    padding: 5px;
    margin-right: 5px;
}

/* js variables */

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 90px;
}

/*456456464564645646456*/

.inventoryOptions{
    display: flex;
}

#submitButton {
    background-color: rgb(96, 141, 253);
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    width: 90px;

}
