/* Reset some default styles */
body, h1, ul, li {
    margin: 0;
    padding-bottom: 20px;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Header Styles */
header {
    width: 100%;
    height: 90px;
    background: #4796BD;
    position: relative;
}

h1 {
    font-size: 32px;
    color: #122E40;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5%;
}

.title-line {
    border-top: 2px solid #000; /* Adjust color and thickness */
    width: 50%; /* Adjust width */
    margin: 10px auto; /* Centers the line and adds space around it */
}
/* Main Content Styles */
#content {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 30px auto;
    width: 80%;
    max-width: 900px;
    height: auto;
}

#submitButton {
    background-color: rgb(96, 141, 253);
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}



/* table settings */
.container {
    max-width: auto;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.edit-btn, .delete-btn {
    cursor: pointer;
    padding: 5px;
    margin-right: 5px;
}


/* Add this to your existing CSS file or create a new one */
label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 60px;
}

.search_inputs {
    display: flex;
}

.input_pair{
    display: flex; /* Use flexbox to align label and input */
    align-items: center; /* Align items vertically */
}

.input_pair label {
    margin-right: 0px; /* Space between the label and the input */
    white-space: nowrap;
}

.search_inputs .input_pair {
    margin-bottom: 20px; /* Space between rows */
}

#prefix, #partNumber, #type, #totalQuantity {
    width: 50%;
    padding: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #dddadaa8;
}
