/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Header Styles */
header {
    width: 100%;
    height: 90px;
    background: #4796BD;
    position: relative;
}

#logo {
    width: 115.58px;
    height: 60.16px;
    position: absolute;
    left: 50px;
    top: 15px;
    background: #F4FAF8;
    border-radius: 3px;
}

nav {
    position: absolute;
    top: 41px;
    right: 0;
    display: flex;
    align-items: center;
}

nav div {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    background: #8FB7D6;
}

/* Main Content Styles */
#content {
    width: 50%;
    padding: 20px;
    background-color: rgba(248, 238, 224, 0.406);
    margin-top: 5%;
    margin-left: 30%;
    border-radius: 10px;
}

h1 {
    font-size: 32px;
    color: #122E40;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

aside {
    width: 212px;
    height: 100%;
    background: white;
    position: absolute;
    left: 0;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
}

aside div {
    padding: 10px;
    text-align: center;
    color: #122E40;
    font-size: 24px;
    font-weight: 400;
    word-wrap: break-word;
}

#submitButton {
    background-color: rgb(96, 141, 253);
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar li {
    margin-bottom: 5px;
    list-style-type: none;
    padding: 15px;
    display: flex;
    padding-left: 0px;
}

.sidebar li a {
    display: flex;
    align-items: center;
}

a {
    color: #173244;
    text-decoration: none;
    font-family: "Lato", sans-serif;
}



.sidebar li a img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* table settings */
.container {
    max-width: 800px;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.edit-btn, .delete-btn {
    cursor: pointer;
    padding: 5px;
    margin-right: 5px;
}

/* Add this to your existing CSS file or create a new one */


label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 90px;

}

#logo{
    width: 115.58px;
    height: 60.16px;
    position: absolute;
    left: 50px;
    top: 15px;
    background: #F4FAF8;
    border-radius: 3px;
}
